<?xml version="1.0" encoding="UTF-8"?>
<suite name="DemoBlaze Automation Suite">

    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="DemoBlaze Test">

        <classes>
            <class name="runners.TestRunner"/>
        </classes>

    </test>

</suite>